<phpunit
  backupglobals="false"
  backupstaticattributes="false"
  bootstrap="./phpunit-bootstrap.php"
  colors="true"
  converterrorstoexceptions="true"
  convertnoticestoexceptions="true"
  convertwarningstoexceptions="true"
  processisolation="false"
  stoponfailure="false"
  syntaxcheck="false">

  <testsuites>

    <testsuite name="Router Test Suite">
      <directory suffix=".php">
        ./../tests/
      </directory>
    </testsuite>

  </testsuites>

</phpunit>